@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Criar">
    <label asp-for="Titulo">Titulo</label>
    <input asp-for = "Titulo" type="text"></input>
    <label asp-for="Descricao">Descricao</label>
    <input asp-for = "Descricao" type="text"></input>
    <label asp-for="Status">Status</label>
    <input asp-for = "Status" type="text"></input>
    <input type="submit" value="Enviar" />
</form>