@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Criar">
    <input asp-form "Titulo" type="text"></input>
    <input asp-form "Descrição" type="text"></input>
    <input asp-form "Status" type="text"></input>
    <input type="submit" />
</form>
