@model Tarefas.Web.Models.TarefaViewModel

 <h1 class="text-success text-center">
        Visualizando Detalhes 
 </h1> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Descrição</th>
      <th scope="col">Titulo</th>
      <th scope="col">Status</th>    
    </tr>
  </thead>
  <tbody>
    <tr>     
      <td>@Model.Descricao </td>
      <td>@Model.Titulo</td>
      <td>@Model.Status</td>
    </tr>
   </tbody>
</table>
