@using Tarefas.Web.Models
@model List<TarefaViewModel>

<table width="10%" border="1"  cellspacing="10" cellpadding="4">
    <tr>
        
        <p><td>Codigo</td></p>
        <td>Titulo</td> 
        <td>Status</td> 
        <td>Acoes</td>      
    </tr>

   @foreach (var item in Model)
   {

        <tr>
            <td>@item.Id</td>
            <td>@item.Titulo</td>
            <td>@item.Status</td>
            <td>
                <a class="nav-link text-dark" 
                asp-area="" 
                asp-controller="Tarefa" 
                asp-action="Detalhar"
                asp-route-id="@item.Id">Detalhar</a>
            </td>
        </tr>    
   }

</table>